.btn{
    background-color: orange;
    margin-top: 7px;
    width: 100%;
    height: 45px;
    color: white;
    font-weight: 600;
}
.zamn{
    width: 100%;
    margin-top: 12%;
}
.btn:hover{
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-property: background-color;
    background-color: antiquewhite;
}
#hidPage{
    visibility: hidden;
}
@media (max-width:48px){
    .zamn{
        width:25%;
    }
}